<h1>Status Report</h1>

<form method="post">
  <label for="score">Score</label>
  <input id="score" type="text" name="score"/>
  <br>
  <label for="readingNotes">Reading notes</label>
  <textarea id="readingNotes" name="readingNotes"/>
  <br>
  <label for="mentorEmail">Mentor email</label>
  <input id="mentorEmail" type="text" name="mentorEmail"/>

  <button class="submit" type="submit">Submit</button>
</form>
